@CHARSET "UTF-8";

#Information{
  float: left;
  text-align: left;
/*   margin-top: 110px; */
  margin-bottom: 60px;
}

#Information a:first-child{
  font-size: 19px;
  color: rgb(97,129,170);
}

#Information p, #Information p a{
  font-size: 14px !important;;
  color: black;
  text-shadow: none;
}

#Avatar{
  float: right;
  width: 240px;
  border-radius: 40px;
  margin-top: 10px;
}

#vk_groups{
  margin-left: calc((100% - 300px)/2);
}

#Photos img{
  width: 100%;
  margin-top: 20px;
}

@media(max-width: 578px){
  #Avatar{
    width: 100%;
    margin-top: -10px;
    margin-bottom: 40px;
  }
}

@media(max-width: 460px){
/*   #Information{
    margin-top: 500px;
  } */
  
  #Information a:first-child{
    font-size: 19px;
/*     color: black; */
/*     text-shadow: none; */
  }

  #Information p, #Information p a{
    font-size: 15px !important;
    color: black;
    text-shadow: none;
  }
}